.app{
  background-color: cornsilk;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100%;
  width: 100vw;
}

.header{
  background-color: lavender;
  grid-column-start: 1;
  grid-column-end: 3;
}
.navPanel{
  background-color: beige;
}




.container{
  display: flex;
  flex-direction: column;
}
.product{
  display: flex;
}
